body{
    font-family: 'Poppins', sans-serif;
}

i{
    color: rgba(79, 93, 115, 0.78);
}

a{
    color: $color-light;    
    &:hover{
        text-decoration: none;
        // color: $color-dark-light;
        color: $color-accent;
    }
}