

// border-radius
$border-radius:0.5rem;

// font-size
$font-size-xxl:3rem;
$font-size-xl:2.065rem;
$font-size-lg:1.70rem;
$font-size-md:0.95rem;
$font-size-sm:0.88rem;

// font-family
$font-family-base:'Poppins', sans-serif;

// font-color
$color-light:rgba(0, 0, 0, 0.74);
$color-accent:#B066CC;
$color-accent-dark:#9E00D3;
$color-dark-light:rgba(38, 37, 38, 0.74);

//background color
$bg-lighter:#fff;
$bg-light:#F9F9FE;
$bg-light-dark:#C4C4C4;