.sidebar-main{
    padding: 31px 24px;
    &__logo{
        &__wrapper{
            padding: 11px 18px;
        }        
        font-size: $font-size-xxl;
        font-weight: 800;
        color: $color-accent-dark;
        &:hover{
            color: $color-accent-dark;
        }

    }
    &__wrapper{
        background-color: $bg-light;
    }
    &__menu-item{
        padding: 11px 18px;
        border-radius: $border-radius;
        a{
            display: flex;
            justify-content: start;
        }
        justify-content: flex-start;
        i{
            padding-right: 15px;            
        }
        &:hover{
            background-color: $bg-lighter;
            color: $color-accent;
            i,a {
                color: $color-accent;
            }
            
        }
    }

    &__help-item{
        margin: 170px 0px 50px 0px ;
    }
}