.lock-scroll {
  overflow: hidden;
  height: 100vh;
}

.side-menu-button {
  position: fixed;
  top: 45px;
  z-index: 100;
  // left: 0px;
  right: 0px;
  cursor: pointer;  
  font-size: 61px;
  i {
    font-size: 30px;
  }
  @include media-breakpoint-down(xs) {
    top: 75px;
  }
}

.sidebar-main {
  padding: 31px 24px;
  position: sticky;
  top: 0;

  @include media-breakpoint-down(sm) {
    padding: 0px;
    position: relative;
  }

  &__close-btn {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 12px;
    cursor: pointer;
    z-index: 300;
  }

  &__wrapper {
    &.collapsable {
    }
    @include media-breakpoint-down(sm) {
      padding: 0px;
      transition: all 0.5s ease-in-out;

      position: fixed;

      width: 0%;

      visibility: hidden;
      &.collapsable {
        .sidebar-main {
          visibility: hidden;
          opacity: 0;
          transition: all 0.5s linear;
          width: 0%;
          height: 0%;
          background-color: $bg-light;
        }
      }
      z-index: 200;
    }

    &.collapsable.showSidebar {
      opacity: 1;

      width: 100%;
      height: 100%;
      visibility: visible;
      transition: all 0.5s ease-in-out;
      overflow-y: scroll;
      z-index: 200;
      .sidebar-main {
        visibility: visible;
        opacity: 1;
        /* transition: all 0.1s ease-in-out; */
        width: 100%;
        height: 100%;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      @include media-breakpoint-down(sm) {
        .profile-body {
          display: none;
        }
      }
    }
  }
  &__logo {
    &__wrapper {
      padding: 11px 18px;
    }
    font-size: $font-size-xxl;
    font-weight: 800;
    color: $color-accent-dark;
    &:hover {
      color: $color-accent-dark;
    }
  }
  &__wrapper {
    background-color: $bg-light;
  }
  &__menu-item {
    padding: 11px 18px;
    border-radius: $border-radius;
    font-size: $font-size-xs;
    &--active{
      background-color: $bg-lighter;      
      i,a{
        color:$color-accent;
      }
    }
    a {
      display: flex;
      justify-content: start;
    }
    justify-content: flex-start;
    i {
      padding-right: 15px;
    }
    &:hover {
      background-color: $bg-lighter;      
      i,
      a {
        color: $color-accent;
      }
    }
  }

  &__help-item {
    margin: 170px 0px 50px 0px;
  }
}
