.card-customer {
  background-color: $bg-light;
  border-radius: $border-radius;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(xs) {
    width: 100%;
    align-items: center;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  &__icon {
    height: 65px;
    width: 65px;
    background-color: #79d1f2;
    color: #fff;
    border-radius: $border-radius;
    font-size: 27px;
    padding-top: 10px;    
    @include displayFlexAlignCenter();
  }
  &__profile-main {
    @include displayFlexAlignCenter();


    // border-right: 1px solid #d1d3d4;
    @include media-breakpoint-down(xs) {
      // border-right: 0;
      border-bottom: 1px solid #d1d3d4;
    }
  }
  &__info {
    &__wrapper {
      padding: 0px 16px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #d1d3d4;
      @include media-breakpoint-down(xs) {
        border-right: 0px;        
        padding:16px
      }
    }
    &__id {
      font-size: $font-size-xs;
    }
    &__name{
      font-size: $font-size-xl;
      font-weight: 600;
    }
  }

  &__profile-details {
    font-size: $font-size-sm;
    @include displayFlexCenterColumn();
    padding: 0px 15px;
    @include media-breakpoint-down(xs) {
      padding: 15px 15px;
    }
  }
}
