.card-customer {
  background-color: $bg-light;
  border-radius: $border-radius;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(xs) {
    width: 100%;
    align-items: center;
  }

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  // TODO: customize bootstrap border-radius default

  &__icon {
    height: 65px;
    width: 65px;
    background-color: #79d1f2;
    color: #fff;
    border-radius: $border-radius;
    // TODO: customize bootstrap border-radius default
    @include displayFlexAlignCenter();
  }
  &__profile-main {
    @include displayFlexAlignCenter();
    // &::after {
    //   content: "";
    //   display: block;
    //   width: 1px;
    //   background-color: #d1d3d4;
    // }

    border-right: 1px solid #d1d3d4;
    @include media-breakpoint-down(xs) {
      border-right: 0;
      border-bottom: 1px solid #d1d3d4;
    }
  }
  &__info {
    &__wrapper {
      padding: 16px;
      display: flex;
      flex-direction: column;
    }
    &__id {
      font-size: $font-size-xs;
    }
  }

  &__profile-details {
    font-size: $font-size-sm;
    @include displayFlexCenterColumn();
    padding: 0px 15px;
    @include media-breakpoint-down(xs) {
      padding: 15px 15px;
    }
  }
}
